<%- include('../partials/header') %>
  <h1>Admin Dashboard</h1>
  <ul>
    <li>Total Books: <%= stats.totalBooks %></li>
    <li>Available Books: <%= stats.availableBooks %></li>
    <li>Issued Books: <%= stats.issuedBooks %></li>
    <li>Overdue Books: <%= stats.overdueBooks %></li>
  </ul>
<%- include('../partials/footer') %>
